body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
}

.main-link {
    font-size: 20px;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}
header h1 {
    margin-left: auto;
}
header form {
    margin-left: auto;
}
header form input {
    font-size: 14px;
}

input {
    margin: 5px 0px;
    font-size: 18px;
    padding: 5px;
}
.table-elem {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
table {
    width: 800px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}
.new-fin-form {
    margin-bottom: 10px;
}
.new-fin-form form {
    display: flex;
    flex-direction: row;
}
.new-fin-form form input {
    margin: 0px 5px;
    font-size: 14px;
}