<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Администрирование</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>Список пользователей</h1>

  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value=${_csrf.token}>
  </form>
</header>
<a href="/" class="main-link">Перейти на главную</a>

<div class="table-elem">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>username</th>
        <th>email</th>
        <th>role</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="users : ${users}">
        <td><span th:text="${users.id}">id</span></td>
        <td><span th:text="${users.username}">username</span></td>
        <td><span th:text="${users.email}">email</span></td>
        <td><span th:text="${users.roles}">roles</span></td>
        <td><span th:text="${users.active}">active</span></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>