<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Финансовый помощник</title>
    <link rel="stylesheet" href="style.css">
</head>
<!--<body>-->

<body sec:authorize="isAnonymous()">

    <h1>Приветствую в финансовом помощнике</h1>
    <h3>Для работы авторизуйтесь под своим пользователем или зарегистрируйтесь</h3>

    <a href="/login" class="main-link">Авторизоваться</a>
    <a href="/reg" class="main-link">Зарегистрироваться</a>
</body>


<body sec:authorize="isAuthenticated()">
<!--Для авторизованных-->
<header>
    <h1>Твои финансы <span th:text="${username}">fin_title</span></h1>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value=${_csrf.token}>
    </form>
</header>
<h3 th:if="${message}" th:text="${message}">message</h3>


<div class="new-fin-form">
    <h3>Введите новые расходы</h3>
    <form action="/addFin" method="POST">
        <input type="text" name="fin_title" placeholder="Расходы" required>
        <input type="text" name="fin_value" placeholder="Сумма" required>
        <input type="text" name="fin_date" placeholder="Дата" required>
        <input type="submit" value="Сохранить">
        <input type="hidden" name="_csrf" value=${_csrf.token}>
    </form>
</div>



<table th:if="${all_fins}">
    <thead>
        <tr>
            <th>Расходы/Доходы</th>
            <th>Сумма</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="fin : ${all_fins}">
            <td><span th:text="${fin.fin_title}">fin_title</span></td>
            <td><span th:text="${fin.fin_value}">fin_value</span></td>
            <td><span th:text="${fin.fin_date}">fin_date</span></td>
        </tr>
    </tbody>
</table>

</body>


<!--</body>-->
</html>