<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Авторизация</h1>

<div th:if="${param.error}">Не верный логин или пароль</div>
<div th:if="${param.logout}">Нужно авторизоваться</div>

<form th:action="@{/login}" method="POST">
    <input type="text" name="username" placeholder="Логин">
    <input type="password" name="password" placeholder="Пароль">
    <input type="submit" value="Войти">
</form>

<a href="/reg" class="main-link">Зарегистрироваться</a>

</body>
</html>