<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Регистрация</h1>

<h3 th:if="${message}">message</h3>

<form th:action="@{/reg}" method="POST">
    <input type="text" name="username" placeholder="Логин">
    <input type="text" name="email" placeholder="Почта">
    <input type="password" name="password" placeholder="Пароль">
    <input type="submit" value="Зарегистрироваться">
</form>

</body>
</html>